@import "../node_modules/antd/dist/antd.css";

.d-flex { display: flex; }
.flex { flex: 1 }
.flex-no-shrink { flex-shrink: 0 }
.f-row { flex-direction: row; }
.f-col { flex-direction: column; }
.f-wrap { flex-wrap: wrap; }

.ai-center { align-items: center; }
.jc-center { justify-content: center; }
.jc-space-between { justify-content: space-between; }
.jc-space-around { justify-content: space-around; }
.jc-end { justify-content: flex-end; }

.user-area {
  justify-content: space-between;
  margin: 5px 10px;
  border: 1px solid #696969;
  padding: 3px;
}
.names {
  margin-right: 5px;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.total {
  margin-right: 5px;
  padding: 20px 5px;
  background-color: #ffabab;
  width: 30px;
  text-align: center;
}
.message {
  flex: 1;
  background-color: #c2ffc2;
  height: 60px;
  overflow: auto;
}


.btns {
  font-size: 12px;
  line-height: 1;
  text-align: center;
}

.btns div {
  border: 1px solid #cecece;
  margin: 1px;
  cursor: pointer;
  height: 16px;
}

.selected {
  background-color: gray;
  color: white;
}
